*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*:root {
    height: 50vh;
}*/


body{
    height: 100vh;
    display: flex;
    flex-direction: row;
    font-family:  Lato;
}

section {
    /*border: dashed blue 2px;*/
    height: 33.33%;
    width: 100%;
    margin-left: 50px;

}

input{
    width: 200px;
    height: 30px;
    border-radius: 6px;
}


.button{
    background-color: #596D48; /* Green */
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 2px;
    height: 40px;
    width: 189px;
    border-radius: 12px;
}

.left-panel{
    background-image: url(./images/background1.jpg) ;
    background-size: cover;
    height: 100%;
    width: 35%;
    padding-top: 450px;
    
}

.image{
    height: 100%;
    width: 100%;
}

.right-panel{
    
    height: 100%;
    width:65%;
    background-image: linear-gradient(to bottom right, white, rgb(211, 159, 113) );
    

}
 #section-one{
    padding-top: 150px;
 }

 

.first-section-text{
    width: 70%;
    font-size: x-large;
    font-weight: 500;
}


.form{
    display: flex;
    flex-direction: row;
}
.introduction {
    font-size: x-large;
    font-weight: 800;
}
/*#column-A {
    display: block;
}*/

#column-B {
    margin-left: 250px;
    display: block;
}

.banderole {
    display: flex;
    flex-direction: row;
    height: 200px;
    background-image: linear-gradient(to bottom right, rgba(226, 183, 183, 0.572), rgba(73, 65, 57, 0.276) );

}

#msg{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100px;
    font-weight: bolder;
    text-align: center;
    height: 100%;
    text-align: center;
    justify-content: center;
    color: white;
}
